body {
    font-family: 'Roboto', sans-serif;
    background-color: #0096D2;
    padding-top: 60px; /* Fixes Bootstrap issue */
}


.icon-fixed-width {
  text-align: center;
  width: 1.28571429em;
  display: inline-block;
}

#main {
    background-color: white;
    padding-bottom:150px;
    margin: -20px;
    padding:20px;
}

#separatore_footer {
  margin-top:20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #00D8C5;
  height: 10px;
}

[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

#logo-top-bar {
  width:45px;
  padding:5px;
}

footer {
  padding-top:15px;
  font-size: small;
  color:white;
  margin-top: 20px;
}

footer a, footer a:active, footer a:visited, footer a:hover {
  color:white;
  text-decoration: underline;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
    footer {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.clear {
  clear:both;
}

a.titolo_news {
  color: black;
}