---
layout: default
title: Homepage
---
<div class="row-fluid">
    <div class="span8">
        <h2><img src="/img/logo_header.png" style="width:40px"> Dart Developers Italia</h2>
        <p>Benvenuti sul sito della community <strong>Dart Developers Italia</strong>.<br>
        Lo scopo di questo sito è fornire materiale di supporto per gli sviluppatori come traduzioni della documentazione ufficiale, articoli ed esempi di codice.</p>
        <div class="clear"></div>
        <p><strong>Cos'è Dart?</strong></p>
        <p>Dart è un linguaggio di programmazion per sviluppare moderne web app.</p>
        <p><strong>Perché usare Dart?</strong></p>
        <p>Perché è semplice da imparare, è orientato agli oggetti, ha un vasto insieme di librerie di base, supporta tecnologie moderne come <strong>Web Components</strong> e <strong>Model-driven Views</strong>, viene fornito insieme ad un potente <strong>Editor</strong> e ad un gestore di pacchetti, e perché grazie al compilatore <strong>dart2js</strong>, le applicazioni web possono essere compilate in Javascript ed eseguite su ogni browser moderno, sia per desktop che per dispositivi mobili.</p>
        <hr/>
        <p><em>Ultime news</em></p>
        {% for news in site.posts limit 5 %}
            {{ news.content }}
        {% endfor %}
        <hr/>
        <p><a href="/news.html">Archivio news</a></p>
    </div>
    <div class="span4">
        <h3>Risorse</h3>
        <ul>
            <li><a href="http://dartlang.org">Sito ufficiale del progetto Dart</a></li>
            <li><a href="http://www.dartlang.org/tools/editor/">Dart Editor, il principale strumento di sviluppo</a></li>
            <li><a href="http://api.dartlang.org">Documentazione API ufficiale</a></li>
            <li><a href="http://pub.dartlang.org">Pub, per esplorare le librerie di terze parti</a></li>
        </ul>
        <p><a href="/risorse.html">Vedi tutte le risorse</a></p>
        <h3>Ultimi articoli</h3>
        {% for articolo in site.pages %}
            {% if articolo.url contains '/articoli/' %}
                <p>
                    <a href="{{ articolo.url }}">{{ articolo.title }}</a><br/>
                    <small>di {{ articolo.autore }}</small>
                </p>
            {% endif %}
        {% endfor %}
    </div>
</div>